<!DOCTYPE html>
<html ng-app="selectsDesarrolloHidrocalido" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container">
     <br>
         <div class="row">
            <div class="col-md-5 col-md-offset-3">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">ALERTAS SHOPPER</h3>
                </div>
                  <div class="panel-body">
                    <form role="form">
                        <fieldset ng-controller="controllerForm">
                            <div class="form-group">
                             <select ng-model="selCategorias" class="form-control" ng-change="mostrarPistos()" ng-options="categorias.id as categorias.nombre for categorias in JSONCategorias" required>
							 <option value="" selected disabled>Seleccione el Cliente</option>
                             </select>
                          </div>
                          <div class="form-group">
                             <select ng-model="selPistos" class="form-control" ng-options="pistos.id as pistos.nomdir for pistos in JSONPistos" required>
							 <option value="" selected disabled>Seleccione el Local</option>
                             </select> 
                          </div>
						  <div class="form-group">
                             <select ng-model="selIncids" class="form-control" ng-options="incids.tipi_id as incids.tipi_nombre for incids in JSONIncids" required>
							 <option value="" selected disabled>Seleccione la Incidencia</option>
                             </select> 
                          </div>
						  <div class="form-group">
							 <input type="file" onchange="//MyCtrl.prototype.setFile(this)">
                          </div>
						  <div class="form-group">
							 <textarea ng-model="txtComentario" class="text textarea" placeholder="Ingrese un comentario si desea"></textarea>
                          </div>
						  <div class="form-actions">
							<button type="submit" class="btn btn-primary pull-left" ng-click="upload()">Upload</button>
						</div>
                          <div class="row">
                           <div class="col-md-12">
                            <input ng-click="limpiar()" class="btn btn-lg btn-default btn-block" type="submit" value="Enviar">
                            <input ng-click="limpiar()" class="btn btn-lg btn-default btn-block" type="button" value="Limpiar">
                           </div>
                          </div>
                        </fieldset>
                     </form>
                  </div>
              </div> <!-- Fin del panel panel-default -->
            </div>
          </div> <!-- Fin del Row --> 
     </div> <!-- Fin del Container -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="controller/app.js"></script>
    </body>
</html>