<!DOCTYPE html>
<html ng-app="selectsDesarrolloHidrocalido" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container">
		<div style="width:99%; border:1px solid green; text-align: center; background-color: red; color: white; font-size:20pt">ALERTAS SHOPPER</div>
		<div class="panel-body">
			<form role="form">
				<fieldset ng-controller="controllerForm">
					<div style="width:99%">
						<select ng-model="selCategorias" class="form-control" ng-change="mostrarPistos()" ng-options="categorias.id as categorias.nombre for categorias in JSONCategorias" required>
							<option value="" selected disabled>Seleccione el Cliente</option>
						</select>
					</div>
					<div style="width:99%">
						<select ng-model="selPistos" class="form-control" ng-options="pistos.id as pistos.nomdir for pistos in JSONPistos" required>
							<option value="" selected disabled>Seleccione el Local</option>
						</select> 
					</div>
					<div style="width:99%">
						<select ng-model="selIncids" class="form-control" ng-options="incids.tipi_id as incids.tipi_nombre for incids in JSONIncids" required>
							<option value="" selected disabled>Seleccione la Incidencia</option>
						</select>
					</div>
					<div style="width:99%">
						<input type="file" class="form-control" onchange="//MyCtrl.prototype.setFile(this)" required>
					</div>
					<div style="width:99%">
						<textarea ng-model="txtComentario" class="form-control" placeholder="Ingrese un comentario si desea"></textarea>
					</div>
					<div style="width:99%">
						<button type="submit" class="form-control btn btn-primary pull-left" ng-click="upload()">Enviar</button>
					</div>
					<div style="width:99%">
						<input ng-click="limpiar()" class="btn btn-lg btn-default btn-block" type="submit" value="Enviar">
						<input ng-click="limpiar()" class="btn btn-lg btn-default btn-block" type="button" value="Limpiar">
					</div>
				</fieldset>
			</form>
		</div>
     </div> <!-- Fin del Container -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="controller/app.js"></script>
    </body>
</html>